$menu-width: 250px !default;
@media screen and (max-width: 768px) {
/*	$gray-base:  #000;
$gray-dark:lighten($gray-base, 20%);*/
	body {
		padding-top: 50px;
		position: relative;
	}

	pre {
		tab-size: 8;
	}
	#navbar > nav > ul:nth-child(1) 	>
		li:nth-child(1) > a{
			border-top: 1px solid $gray-dark ;
		}

	li > a{
		border-bottom: 1px solid $gray-dark ;
			}
	.navbar-inverse.side-collapse{
		height:1000;
	}
	.side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.side-collapse-container.out{
		left:200px;

	}
	.side-collapse {
		top:50px;
		bottom:0;
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.side-collapse.in {
		width:0;
	}

	// .with--sidebar{
	// 	.side-collapse-container{

	// 	@include transform(translateX($menu-width));
	// 	}

	// 	.site-cache{
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 		background-color: rgba(0,0,0,0.6);
	// 	}

	// }

.with--sidebar{
		ul.navbar-nav{//.site-pusher
			@include transition-duration(0.3s);
			@include transform(translateX(0px));
		}
		 .site-cache{
		 	position: absolute;
		 	z-index: 98;
		 	top: 0;
		 	left: 0;
		 	right: 0;
		 	bottom: 0;
		 	background-color: rgba(0,0,0,0.8);
		 }

	}

/*	.site-cache{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.6);
		}*/
}
