<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

				thumbFrameColor="rgba(204,204,204,0.5)"
					useFullscreenExpand="true"
		>

			<image imageURL="images/20150702_181021.jpg" thumbURL="thumbs/20150702_181021.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150702_183931.jpg" thumbURL="thumbs/20150702_183931.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_094928.jpg" thumbURL="thumbs/20150703_094928.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_095630.jpg" thumbURL="thumbs/20150703_095630.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_095652.jpg" thumbURL="thumbs/20150703_095652.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_111321.jpg" thumbURL="thumbs/20150703_111321.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_175737.jpg" thumbURL="thumbs/20150703_175737.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_183000.jpg" thumbURL="thumbs/20150703_183000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_183256.jpg" thumbURL="thumbs/20150703_183256.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_184814.jpg" thumbURL="thumbs/20150703_184814.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_185131.jpg" thumbURL="thumbs/20150703_185131.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150703_185154.jpg" thumbURL="thumbs/20150703_185154.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_071618.jpg" thumbURL="thumbs/20150704_071618.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_080715.jpg" thumbURL="thumbs/20150704_080715.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_084554.jpg" thumbURL="thumbs/20150704_084554.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_211049.jpg" thumbURL="thumbs/20150704_211049.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_211313.jpg" thumbURL="thumbs/20150704_211313.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150704_211345.jpg" thumbURL="thumbs/20150704_211345.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150705_073013.jpg" thumbURL="thumbs/20150705_073013.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150705_103747.jpg" thumbURL="thumbs/20150705_103747.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20150706_073338.jpg" thumbURL="thumbs/20150706_073338.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[ ]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	
</juiceboxgallery>
